body
{
    background: url(/video/1620980417_22-phonoteka_org-p-krasivii-fon-kino-24.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
   
}
.video 
{
    display: none;
    justify-content: center; 
    margin: 0 auto;
    text-align: center;
}
#header
{
    font-size: 250%;
    justify-content: center; 
    display: flex;
    color: aliceblue;
}
.field
{
    margin-top: 2vh;
    margin-bottom: 2vh;
    justify-content: center; 
    display: flex;
}
#Video-playback-time
{
    margin-right: 2vw;
    margin-left: 2vw;
    width: 196px;
}
.form-select
{
    width: 8vw;
    height: 4.2vh;
}
.result
{
    display: block;
    justify-content: center; 
    margin: 0 auto;
    text-align: center; 
    margin-top: 3vh;
    size: 150%;
    color: aliceblue;
}
.select-label
{
    color: white;
}